name: Prettier Check

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Prettier
        run: npm install --save-dev prettier

- name: Run Prettier (format)
  run: npx prettier --write .

